<!DOCTYPE html>
<html>
<head>
  <title>Boostify</title>
  <%= stylesheet_link_tag    "boostify/application", :media => "all" %>
  <%= javascript_include_tag "boostify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
