%h1 Boostify::Donation#show

%p Find me in app/views/boostify/donation/show.html.haml

- flash.each do |name, message|
  = message

%pre= @donation.inspect

- if @donation.charity.nil?
  = link_to Boostify::Links::CHARITIES do
    = t '.goto'
    %em
      boost
